.popup {
    position: fixed;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

.popup_visible {
    display: flex;
}

.popup__content {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
